@media ((hover:hover) and (pointer: fine)) {
    .menu__button:hover {
        --menu-border-opacity: .3;
    }

    .menu__burger:hover {
        --menu-border-opacity: .3;
        background-color: rgba(255, 255, 255, calc(--menu-border-opacity - 1));
    }

    .menu__link:hover {
        color: $secondary-color;

        &:before {
            opacity: 1;
        }
    }

    .social-networks__link:hover {
        scale: 1.4;
        opacity: .9;
    }

    .card-picture {
        &__name:hover {
            text-decoration: underline;
        }

        &__image:hover {
            scale: 1.1;
            opacity: .5;
            filter: blur(4px);
        }

        &__inner {
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }

        &:hover {
            .card-picture {
                &__more {
                    translate: 0;
                    opacity: 1;
                }
            }
        }
    }
}
@media (hover:none) {
    .card-picture {
        &__more {
            translate: 0;
            opacity: 1;
        }
    }
    .cursor {
        display: none !important;
    }
}

@media (max-width: 768px) {
    :root {
        --galery-grid-gap: 20px;
    }
    .article {
        gap: 24px;
    }
   .menu {
        &__top {
            width: 100%;
        }
        &__inner {
            gap: 0;
            flex-direction: column;
        }
        &__bottom {
            padding: 0;
        }
        &__burger {
            position: static;
        }
    } 
}

@media (max-width: 480px) {
    .article {
        &__gallery {
            margin-bottom: 12px;
        }
    }
    .menu {
        bottom: var(--indentation-px);
    }
} 

@media (prefers-reduced-motion: no-preference) {

    body,
    html {
        scroll-behavior: smooth;
    }
}