.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    z-index: 1;
}

.container {
    margin: 0 auto;
    width: calc(100% - var(--indentation-px));
    max-width: calc(var(--container-px) + var(--indentation-px)*2);
    padding: 0 var(--indentation-px);
}

.inner {
    flex: 1;
}

#grain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 0;
}

.hide {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    position: absolute;
    z-index: -1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pswp {
    position: fixed;
    height: 100dvh;
    backdrop-filter: blur(4px);

    &__bg {
        background-color: $main-bg-color;
    }

    &__top {
        &-bar {
            background-color: transparent;
        }
    }

    &__button {
        position: relative;
        z-index: 1;
        display: grid;
        place-items: center;
        width: 44px;
        height: 44px;
        appearance: none;
        border: none;
        background-color: transparent;
        vertical-align: top;
        float: right;
    }

    &__preloader {
        display: none;
    }

}