@import 'base/variables.scss';
@import 'base/animation.scss';
@import 'base/text.scss';
@import 'base/mixins.scss';
@import 'base/ui.scss';

@import 'blocks/footer.scss';
@import 'blocks/header.scss';
@import 'blocks/gallery.scss';
<<<<<<< HEAD
@import 'blocks/about-me.scss';
=======
>>>>>>> 35d7817a0136097c0785649709d318dcd7c5a394
@import 'blocks/menu.scss';

@import 'other.scss';
@import 'media.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Alegreya';
    color: $main-text-color;
}

body {
    background: url(../images/bg.jpg) $main-bg-color;
}