<div class="card-picture scroll-reveal card-picture_gallery">
    <a href="../images/pictures/6.jpg" class="card-picture__inner --gallery-trigger"  data-pswp-width="3011" data-pswp-height="2268">
        <img src="../images/pictures/6.jpg" srcset="../images/pictures/6.jpg" data-srcset="../images/pictures/6.jpg" alt="Чортики не тліють" class="card-picture__image lozad" width="700">
    </a>
    <div class="card-picture__content">
        <a href="picture.html" class="card-picture__name">“Чортики не тліють”</a>
        <span class="card-picture__line"></span>
        <div class="card-picture__details">полотно, 40см/40см</div>
        <a href="picture.html" class="card-picture__name card-picture__more">Дізнатись більше</a>
    </div>
</div>