        <footer class="footer">
            <div class="container">
                <div class="footer__label">
                    Andrii Stojak
                </div>
                <ul class="social-networks">
                    <li class="social-networks__li">
                        <a href="#" class="social-networks__link">
                            <span class="hide">Електронна пошта</span>
                            <span class="icon icon_email"></span>
                        </a>
                    </li>
                    <li class="social-networks__li">
                        <a href="#" class="social-networks__link">
                            <span class="hide">Телеграм</span>
                            <span class="icon icon_telegram"></span>
                        </a>
                    </li>
                    <li class="social-networks__li">
                        <a href="#" class="social-networks__link">
                            <span class="hide">Інстаграм</span>
                            <span class="icon icon_instagram"></span>
                        </a>
                    </li>
                    <li class="social-networks__li">
                        <a href="#" class="social-networks__link">
                            <span class="hide">Поділитися стронінкою</span>
                            <span class="icon icon_share"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    <canvas id="grain"></canvas>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script src="js/main.min.js"></script>

</body>
</html>