<div class="menu">
    <div class="menu__top">
        <div class="menu__inner">
            <ul class="menu__list">
                <li class="menu__li"><a href="#" class="menu__link">Блог</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Про мене</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Галерея</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Книги</a></li>
            </ul>
            <ul class="menu__list">
                <li class="menu__li"><a href="#" class="menu__link">Блог</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Про мене</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Галерея</a></li>
            </ul>
            <ul class="menu__list">
                <li class="menu__li"><a href="#" class="menu__link">Блог</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Про мене</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Галерея</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Книги</a></li>
            </ul>
            <ul class="menu__list">
                <li class="menu__li"><a href="#" class="menu__link">Блог</a></li>
                <li class="menu__li"><a href="#" class="menu__link">Про мене</a></li>
            </ul>
        </div>
    </div>
    <div class="menu__bottom">
        <button class="menu__burger" id="burger">
            <span class="menu__text">Меню</span>
            <span class="burger">
                <span></span><span></span><span></span>
            </span>
        </button>
        <ol class="menu__wrapper">
            <li class="menu__li"><a href="#" class="menu__button">Головна</a></li>
            <li class="menu__li"><a href="#" class="menu__button">Галерея</a></li>
            <li class="menu__li"><a href="#" class="menu__button">Контакти</a></li>
        </ol>
    </div>
</div>