@keyframes shaking {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 5deg;
    }

    50% {
        rotate: 0deg;
    }

    75% {
        rotate: -5deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes rotate360 {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}