.icon {
    --icon-size: 24px;
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-color: $main-text-color;
    vertical-align: middle;
    &__small {
        --icon-size: 16px
    }
}

@include new_icon('email');
@include new_icon('telegram');
@include new_icon('instagram');
@include new_icon('share');